<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.spark" level="ERROR" />
    <logger name="org.spark_project.jetty.server.handler" level="ERROR" />
    <logger name="com.demo.transactionService.component" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>